<?xml version="1.0" encoding="UTF-8"?>
<!-- This is an unmanaged datasource. It should be used for proofs of concept 
   or testing only. It uses H2, an in memory database that ships with JBoss AS. -->
<datasources xmlns="http://www.jboss.org/ironjacamar/schema"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.jboss.org/ironjacamar/schema http://docs.jboss.org/ironjacamar/schema/datasources_1_0.xsd">

   <!-- The datasource is bound into JNDI at this location. We reference this in META-INF/persistence.xml -->
<!--
   <datasource jndi-name="java:jboss/datasources/SpringQuickstartDS"
      pool-name="kitchensink-quickstart" enabled="true"
      use-java-context="true">
      <connection-url>jdbc:h2:mem:kitchensink-quickstart;DB_CLOSE_DELAY=-1</connection-url>
      <driver>h2</driver>
      <security>
         <user-name>sa</user-name>
         <password>sa</password>
      </security>
   </datasource>
-->
<!--
   <datasource jndi-name="java:jboss/datasources/BloombergDS"
      pool-name="middleoffice-bloomberg" enabled="true"
      use-java-context="true">
      <connection-url>jdbc:sybase:Tds:172.16.21.14:5000/inv_db</connection-url>
      <driver>sybase</driver>
      <security>
         <user-name>dgluhov</user-name>
         <password>lbfcjan</password>
      </security>
   </datasource>
-->

<!--
   <datasource jndi-name="java:jboss/datasources/BloombergDS"
      pool-name="middleoffice-bloomberg" enabled="true"
      use-java-context="true">
      <connection-url>jdbc:sybase:Tds:172.16.20.177:5000/inv_db</connection-url>
      <driver>sybase</driver>
      <security>
         <user-name>ArmWebAccess</user-name>
         <password>cdj,jlentktgepbrfv!</password>
      </security>
   </datasource>
-->
</datasources>
